$shadow-color:#eaeaea;
$background-color:#141414;
$text-button-color:#5100ff;
$background-button:#ffffff;

$screen-xs: 768px;
$screen-s: 1040px;
$screen-md: 1280px;

$font: 'Hanken Grotesk', sans-serif;