// Colores
$primary-color: rgb(205, 223, 27);
$secondary-color: rgb(57, 62, 6);
$tertiary-color: rgb(249, 251, 227);
$background-color: rgb(241, 241, 241);

// Fuentes
$main-font: Arial, Helvetica, sans-serif;

// Queries

$screen-xs: 768px;
$screen-md: 1200px;