.page-title {
  padding: 20px;
  background-color: $primary-color;
  color: white;
  font-size: x-large;
}

header {
  grid-area: cabecera;
}

.toolbar input {
  padding: 5px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  @media (max-width: $screen-xs) {
    display: none;
  }
}