$color-base1: rgb(230, 44, 44);
$color-base2: rgb(44, 44, 230);
$color-base3: rgb(44, 200, 44);
$selected-color: $color-base2;

.ejercicio-1 {
  @media (max-width: 775px) {
    flex-direction: column;
  }
}

.box {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.base-color {
  background-color: $selected-color;
  width: 150px;
  color: white;
}

@for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($selected-color, $i * 10);

    .color-box-text {
      color: lighten(white, $i * 10);
    }
  }

  .lighten-#{$i} {
    background-color: lighten($selected-color, $i * 10);

    .color-box-text {
      color: darken(white, $i * 10);
    }
  }
}