.ejercicio-3 {
  flex-direction: column;
}

header {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 25px;
}

.list {
  display: flex;
  justify-content: space-around;
  background-color: rgb(20, 94, 104);

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex: 1;
  color: white;
  padding: 10px;

  &:hover {
    background-color: rgb(20, 76, 104);
    cursor: pointer;
  }
}